<!--<div>
  Nazov projektu: {{title}} <br>
</div>
<div>
   Cena za kus:  <input [(ngModel)]="Kus" (change)="pocitaj()"> <br>
    Pocet kusov: <input [(ngModel)] = "mnozstvo" (change)="pocitaj()"> <br>
    Spolu: <input [(ngModel)] = "Vysledok">

  <div><h1>Pokus</h1></div>

  <div>
    dec <input [(ngModel)]="dec" (change)="zmenCislo()">
  </div>
  <div>
    <div style="margin-left: 30px;">7...6...5...4...3...2...1...0 </div>
    bin <input [(ngModel)]="bin7" (change)="pridajcheck()" type="checkbox" > <input [(ngModel)]="bin6" (change)="pridajcheck()" type="checkbox"> <input [(ngModel)]="bin5" (change)="pridajcheck()" type="checkbox">
    <input [(ngModel)]="bin4" (change)="pridajcheck()" type="checkbox"> <input [(ngModel)]="bin3" (change)="pridajcheck()" type="checkbox"> <input [(ngModel)]="bin2" (change)="pridajcheck()" type="checkbox">
    <input [(ngModel)]="bin1" (change)="pridajcheck()" type="checkbox" > <input [(ngModel)]="bin0" (change)="pridajcheck()" type="checkbox">
    <br>
  </div>

</div>
  <br>
  ------------------------------------------------------------------------------
  <br>
  Nazov projektu: {{title}} <br><br>
<div>
  <button class="but" (click)="nastavMenu(menu.OSOBY);">Users</button>
  <button class="but" (click)="nastavMenu(menu.KNIHY);">Books</button>
  <button class="but" (click)="nastavMenu(menu.VYPOZICKY);">Borrowings</button>
</div>
<div>

  <router-outlet></router-outlet>

</div>

<div *ngIf="aktMenu == menu.OSOBY">
  <br>
  id: <input [(ngModel)]="osoba.id"><br>
  name: <input [(ngModel)]="osoba.name"><br>
  contact: <input [(ngModel)]="osoba.contact"><br> <br>
  <button class="but" (click)="pridaj();">Pridaj</button>
  <br> <br>
  zoznam: <br>
  <div *ngFor="let o of persons">
    {{o.id}} | {{o.name}} | {{o.contact}}
  </div>
</div>

<div *ngIf="aktMenu == menu.KNIHY">
  <br>
  Id: <input [(ngModel)]="kniha.id"><br>
  name: <input [(ngModel)]="kniha.name"> <br>
  author: <input [(ngModel)]="kniha.author"> <br>
  available: <input [(ngModel)]="kniha.available"> <br> <br>
  <button class="but" style="align-content: center" (click)="pridajk();">Pridaj</button>
  <br><br>
  zoznam: <br>
  <div *ngFor="let k of books">
    {{k.id}} | {{k.name}} | {{k.author}} | {{k.available}}
  </div>
</div>

<div *ngIf="aktMenu == menu.VYPOZICKY">
  <br>
  id: <input [(ngModel)]="pozicka.id"><br>
  book: <input [(ngModel)]="kniha"><br>
  user: <input [(ngModel)]="osoba"><br> <br>
  <button class="but" (click)="pridajVypozicku();">Pridaj</button>
  <br> <br>
  zoznam: <br>
  <div *ngFor="let p of pozicky">
    {{p.id}} | {{p.kniha}} | {{p.osoba}}
  </div>
  <br>
</div>
-->
<div class="row">
  <h1 style="text-align: center"> Nazov: {{title}} </h1><br>
  <div class=" d-flex justify-content-center ">
    <button type="button" class="cold-grid btn btn-outline-dark col-1" (click)="otvorMenu(menu.OSOBY)">osoby</button>
    <button type="button" class="cold-grid btn btn-outline-dark col-1" (click)="otvorMenu(menu.KNIHY)">knihy</button>
    <button type="button" class="cold-grid btn btn-outline-dark col-1" (click)="otvorMenu(menu.VYPOZICKY)">vypozicky</button>
  </div>
  <br>
  <br>
</div>
<div class="d-flex justify-content-center">
<router-outlet></router-outlet>
</div>
