<h1>Osoby - formular</h1>

<form [formGroup]="formular">

  <label>Meno:
    <input formControlName="meno">
  </label>
  <br>

  <label>Priezvisko:
    <input formControlName="priezvisko">
  </label>
  <br>

  <label for="subor">
    Foto
    <input type="file" id="subor" (change)="spracujSubor($event)">
  </label>

  <button (click)="pridaj()" *ngIf="formular.value.id === null">pridaj</button>
  <button (click)="uprav()" *ngIf="formular.value.id !== null">uprav</button>
  <button (click)="zrus()">zrus</button>

</form>
